<footer class="footer">
     <div class="container text-center">
       <span class="text-white ">Built with &lt;/ &gt; & <span style="color:red"> :heart:</span> by the UM Coding Bootcamp Team. </span>
     </div>
</footer>