<div class="col-sm-6 mx-auto">
 <h1 class="text-center"><img src="https://vignette.wikia.nocookie.net/toonami/images/e/e6/Pokemon_Logo.png/revision/latest?cb=20140329192317" alt=""> Search</h1>
 <form action="/api/create" method="post">
   <input type='text' class='form-control' placeholder="Ex: Charmander" name='pokemonName'>
   <br>
   <button type='submit' class='btn btn-primary'>Submit</button>
 </form>
</div>