{{>header}}
<div class="container">
  <br>
  <div class="jumbotron text-center">
    <h1 class="display-3">Hello, Class!</h1>
    <p class="lead">This is a simple project that covers many aspects of a MEHN <br> (MySQL,Express,HandleBars,Node) app. We will go through this from scratch.</p>
    <hr class="my-4">
    <p>We will be using the official pockemon tcg api.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="https://docs.pokemontcg.io/">API Documentation</a>
    </p>
  </div>
  <br>
<div class="row">
{{>search}}
</div>
</div>
{{>footer}}